h1 {
  font-size: 10;
}

body {
  background-color: "#FDFD96";
}

#lyrics-container {
  width: 650px;
  margin: 0 auto;
  background-color: "#FDFD96";
  padding: 20px;
  border: 2px solid black;
  white-space: pre-line;
}

#braille-container {
  width: 650px;
  margin: 0 auto;
  background-color: "#FDFD96";
  padding: 20px;
  border: 2px solid black;
}