h1 {
  font-size: 10;
}

body {
  background-color: "#FDFD96";
}

#lyrics-container {
  width: 250px;
  margin: 0 auto;
  background-color: "#FDFD96";
  padding: 20px;
  border: 2px solid black;
}

#lyrics-container p {
  color: black;
}
